 <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Log In</h3>
          </div>
          <div class="card-body">
            <form id="logInForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="showPasswordToggle">
      <i class="bi bi-eye"></i>
    </button>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
              </div>
              <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Log In</button>
              </div>
              <a href="/api/sessions/github" class="text-center p-3 btn btn-dark github-login-btn">
                <i class="bi bi-github"></i>
                Login with GitHub
              </a>
            </form>
            <p class="text-center text-danger" id="loginErrorMessage"></p>
            <div class="text-center">
                Not registered? <a href="/register" class="text-decoration-none">Register</a>
              </div>
          </div>
        </div>
      </div>
    </div>
        <script src="/js/login.js"></script>